Package: jp.tom-go.gtrendswidget
Depends: firmware(>= 5.0), mobilesubstrate(>= 0.9.3901), com.chpwn.weeloader, org.thebigboss.customwidgeticons
Name: GTrends Widget
Version: 1.3-4
Architecture: iphoneos-arm
Description: Google Trends Ticker for NotificationCenter
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: tom-go <tomgo.76@gmail.com>
Section: Addons (NotificationCenter)
dev: tomgo
Depiction: 
Homepage: 
Icon: file:///Applications/Preferences.app/notifications_icon@2x.png
